
a:hover{
	text-decoration: none;
	color:#FF3706;
	
}
header {
	color:#241F20;
	font-weight: 600;
	margin-top: 15px;
	margin-bottom: 15px;
}

img.logo {
	margin-top:50px;
	padding:15px;
	min-width:196px;
}
