<div layout="row" style="height:100%;" layout-fill>

	<div flex="10">
		<div layout="column" layout-align="center" class="btn-group" flex style="margin-top:40px;">
			<md-button  ng-repeat="item in menuItems" class="animated fadeIn" ><p>{{item.name}}</p></md-button>
		</div>
	</div>

	<div layout="column" layout-fill layout-align="start center" class="card-container md-whiteframe-z2" >
		<img class="logo"src="assets/images/mba-logo-2.png" alt="" height="100" />
		<div layout="column" layout-margin layout-padding >
		<div ui-view> 
			<div layout="row" layout-align="start start" class="animated-msgs" flex>
				<div ng-repeat="item in menuItems" class=" margin-around animated fadeIn" flex> 
					<md-button ui-sref="{{item.state}}">{{item.name}}</md-button> 
					<ul> <li ng-repeat="i in item.items"> {{i.name}}</li> </ul>
				</div>		
			</div>		
		</div>
			
		</div>		
	</div>
</div>

