

<header class="" id="">
<div class="container">
	<div layout="horizontal">
		<img src="assets/images/mba-logo.png" alt="" />
		<div layout=vertical class="titles">
			<br /><br />
			<p>student</p>
			<p>programmer</p>
			<p>web / mobile developer</p>
		</div>
		<div flex> </div>
		<div layout="vertical"> 
			<br /><br />
			<p>alice nguyen</p>
			<p>a8nguyen@ucsd.edu</p>
		</div>
	</div>
</div>
</header>

<div class="container body">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Coming Soon.</h1>
			<h3>\\ Works</h3>
		</div>
		<div class="col-lg-12 works">
			<div class="col-md-3 ">
				<h4>programming / developing</h4>
			</div>

			<div class="col-md-9 box1">
				<ul class="" ng-repeat="thing in workThings">
					<li><a href="{{thing.link}}" target="_blank" > {{thing.thing}}</a></li>
				</ul>
			</div>

		</div>

		<div class="col-lg-12 works">
			<div class="col-md-3">
				<h4>film / productions</h4>
			</div>

			<div class="col-md-9 " style="padding-left:0px;">
				<ul class="" ng-repeat="thing in filmingThings">
					<li>
					<div class="col-md-6">
						<a href="{{thing.link}}" > {{thing.thing}}</a>
					</div>
					<div class="col-md-6">
						<p>{{thing.description}}</p>
					</div>
					</li>
				</ul>
			</div>

		</div>
		<div class="col-lg-12 works">
			<div class="col-md-3">
				<h4>fun things</h4>
			</div>

			<div class="col-md-9 ">
				<ul class="" ng-repeat="thing in funThings">
					<li><a href="{{thing.link}}" > {{thing.thing}}</a></li>
				</ul>
			</div>

		</div>
	</div>
</div>

<footer class="footer">
<div class="container">
	<p>madebyalice v1.0.00 |
	</p>
</div>
</footer>
